<div class="panel-group" id="accordion">
    <!--panel_1-->
    <div class="panel panel-default">
        <!--heading-->
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#" data-toggle="popover" data-trigger="focus" title="Help" data-content="help text" data-placement="auto"><span class="fa fa-info"></span></a>
                <i class="fa fa-spinner fa-pulse fa-1x fa-fw margin-bottom"></i>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Hardeware Setup</a>
                <span class="fa fa-exclamation" style="float:right; color: red"></span>
                <span class="fa fa-check" style="float:right; color: green"></span>
                <span class="fa fa-flash" style="float:right; color: orange"></span>
            </h4>
        </div>
        <!--text/body-->
        <div class="panel-collapse collapse in" id="collapse1">
            <div class="panel-body">
                <form method="post" action="{{ url_for('config') }}">
                    <div class="container">
                        <!-- DS18B20 button -->
                        <div class="row" style="padding-bottom: 5px">
                            <button type="button" onclick="set_btn(this, c_1)" style="width: 100px" class="btn btn-default">DS18B20</button>
                            <label><input type="checkbox" name="c_1" style="display:none"></label>
                        </div>

                        <!-- box with DS18B20 sensors -->
                        <div class="row" style="{{ c_1_success }}">
                            <ul class="list-group">
                                <li class="list-group-item"><span class="badge">20°C</span>sensor 1: <input type="text" class="form-control input-sm" style="width: 200px; display: inline"></li>
                                <li class="list-group-item"><span class="badge">48°C</span>sensor 2: </li>
                                <li class="list-group-item"><span class="badge">80°C</span>sensor 3: </li>
                            </ul>
                        </div>

                        <!-- DHT11 button -->
                        <div class="row" style="padding-bottom: 5px">
                            <button type="button" onclick="set_btn(this, c_2)" style="width: 100px" class="btn btn-default">DHT11</button>
                            <label><input type="checkbox" name="c_2" style="display:none"></label>
                        </div>

                        <!-- box with DHT11 sensors -->
                        <div class="row" style="{{ c_2_success }}">
                            <ul class="list-group">
                                <li class="list-group-item"><span class="badge">20°C</span>sensor 1</li>
                                <li class="list-group-item"><span class="badge">48°C</span>sensor 2</li>
                                <li class="list-group-item"><span class="badge">80°C</span>sensor 3</li>
                            </ul>
                        </div>

                        <div class="row" style="padding-bottom: 15px">
                            <button type="submit" style="float:right; width: 100px" class="btn btn-info">Start</button>
                        </div>
                    </div>
                </form>

                <!-- altert -->
                <div class="alert alert-success fade in" style="{{ success }}">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> All sensors have been detected.
                </div>
            </div>
        </div>
    </div>
    <!--panel_2-->
    <div class="panel panel-default">
        <!--heading-->
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Group2</a>
            </h4>
        </div>
        <!--text/body-->
        <div class="panel-collapse collapse" id="collapse2">
            <div class="panel-body">
                Unser text in panel 2
            </div>
        </div>
    </div>
</div>


<script>
    function set_btn(btn, cb) {
        var status = btn.className;
        if (status === "btn btn-default") {
            btn.className = "btn btn-primary";
            cb.checked = true;
        } else {
            btn.className = "btn btn-default";
            cb.checked = false;
        }
    }
</script>
