<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EEMS - Easy Energy Monitoring System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-social.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-mfizz/font-mfizz.css') }}">

    <!--<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-social.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/font-mfizz/font-mfizz.css">-->


</head>

<body>
    <!-- Header -->
    <header class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                            data-toggle="collapse" data-target="#eemsBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        <i class="icon-raspberrypi"></i>&nbsp; EEMS</a>
                </div>
                <div class="collapse navbar-collapse" id="eemsBar">
                    <ul class="nav navbar-nav">
                        <li class="{% if name == 'config' %} active {% endif %}"><a href="{{ url_for('config') }}"><i class="fa fa-cogs"></i>&nbsp; Config</a></li>
                        <li class="{% if name == 'monitor' %} active {% endif %}"><a href="{{ url_for('monitor') }}"><i class="fa fa-area-chart"></i>&nbsp; Monitor</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right nav-pills">
                        <li><a href="https://github.com/enricoba/eems">
                            <i class="fa fa-github"></i>&nbsp; GitHub</a></li>
                        <li><a href="https://pypi.python.org/pypi/eems">
                            <i class="icon-python"></i>&nbsp; PyPi</a></li>
                        <li><a href="https://www.pythonhosted.org/eems/">
                            <i class="fa fa-book"></i>&nbsp; Docu</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Content -->
    <main class="container" style="padding-top: 70px">
        {% if name == 'config' %}
            {% include 'config.html' %}
        {% elif name == 'monitor' %}
            {% include 'monitor.html' %}
        {% elif name == 'licence' %}
            {% include 'licence.html' %}
        {% else %}
            {% include 'home.html' %}
        {% endif %}
    </main>


    <!-- footer -->
    <footer class="navbar-fixed-bottom">
        <div class="container">
            <p class="text-center"><i class="fa fa-copyright"></i> 2016 <a href="mailto:&#104;&#101;&#110;&#114;&#105;&#107;&#046;&#098;&#097;&#114;&#097;&#110;&#064;&#111;&#110;&#108;&#105;&#110;&#101;&#046;&#100;&#101;">Henrik Baran</a>,
            <a href="mailto:&#097;&#046;&#104;&#111;&#101;&#104;&#110;&#064;&#109;&#097;&#105;&#108;&#098;&#111;&#120;&#046;&#111;&#114;&#103;"> Aurofree Hoehn</a>, Licence: <a href="{{ url_for('licence') }}">MIT</a>, Version: {{ version }}</p>
        </div>
    </footer>

    <!-- Javascript links -->
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <!--<script src="../static/jquery/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>-->

    <!-- JQeury activation -->
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
</body>
</html>
