include AUTHORS.rst
include CHANGES.rst
include LICENSE.rst
include README.rst
include setup.py
recursive-include eems/templates *
recursive-include eems/scripts *
recursive-include eems/data *
recursive-include eems/scripts *
