<div class="panel-group" id="accordion">
    <!--Hardware-->
    <div class="panel panel-default">
        <!--heading-->
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#" data-toggle="popover" data-trigger="focus" title="Help" data-content="help text" data-placement="auto"><span class="fa fa-info"></span></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Hardeware Setup</a>
                <span class="fa {{ session_config['icon'] }}" style="float: right; color: {{ session_config['color'] }}; display: {{ session_config['display'] }}"></span>
            </h4>
        </div>
        <!--text/body-->
        <div class="panel-collapse collapse in" id="collapse1">
            <div class="panel-body">
                <div class="form-group">
                    <form role="form" method="post" action="{{ url_for('config') }}">
                        <!-- DS18B20 button -->
                        <button type="button" onclick="set_btn(this, ds18b20_cb)" style="width: 100px" class="btn btn-default">DS18B20</button>
                        <label><input class="form-control" type="checkbox" name="ds18b20_cb" style="display: none"></label>

                        <!-- DS18B20 alert -->
                        <div class="alert {{ ds18b20_vars['status'] }} fade in" style="display: {{ ds18b20_vars['display'] }}; margin: 5px 0 5px 0">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ ds18b20_vars['msg_1'] }}</strong>{{ ds18b20_vars['msg_2'] }}
                        </div>

                        <!-- box with DS18B20 sensors -->
                        <ul class="list-group" style="display: {{ ds18b20_vars['list'] }}; margin-top: 5px">
                            {% for key, value in ds18b20_vars['sensors'].iteritems() %}
                                <li class="list-group-item"><span class="badge" style="background-color: green">{{ value }} °C</span>{{ key }}</li>
                            {% endfor %}
                        </ul>

                        <!-- DHT11 button -->
                        <button type="button" onclick="set_btn(this, dht11_cb)" style="width: 100px" class="btn btn-default">DHT11</button>
                        <label><input class="form-control" type="checkbox" name="dht11_cb" style="display: none"></label>

                        <!-- DHT11 alert -->
                        <div class="alert {{ dht11_vars['status'] }} fade in" style="display: {{ dht11_vars['display'] }}; margin: 5px 0 5px 0">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ dht11_vars['msg_1'] }}</strong>{{ dht11_vars['msg_2'] }}
                        </div>

                        <!-- box with DHT11 sensors -->
                        <ul class="list-group" style="display: {{ dht11_vars['list'] }}; margin-top: 5px">
                            {% for key, value in dht11_vars['sensors'].iteritems() %}
                                <li class="list-group-item"><span class="badge" style="background-color: green">{{ value }} °C</span>{{ key }}</li>
                            {% endfor %}
                        </ul>

                        <ul class="pager">
                            <li><button type="submit" name="hardware-reset" style="width: 100px" class="btn btn-warning">Reset</button></li>
                            <li><button type="submit" name="hardware-next" style="width: 100px" class="btn btn-success">Next</button></li>
                        </ul>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Software-->
    <div class="panel panel-default">
        <!--heading-->
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#" data-toggle="popover" data-trigger="focus" title="Help" data-content="help text" data-placement="auto">
                    <span class="fa fa-info"></span></a>
                <a data-toggle="{{ session_config['final'] }}" data-parent="#accordion" href="#collapse2">Configuration</a>
            </h4>
        </div>
        <!--text/body-->
        <div class="panel-collapse collapse" id="collapse2">
            <div class="panel-body">
                <div class="form-group">
                    <form role="form" method="post" action="{{ url_for('config') }}" onsubmit="return validateForm(this)">
                        <!-- DS18B20 sensors -->
                        <div class="panel-group" style="display: {{ ds18b20_vars['list'] }}; margin-bottom: 5px">
                            <div class="panel panel-default">
                                <!-- header -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse3">DS18B20</a>
                                    </h4>
                                </div>
                                <!-- body -->
                                <div id="collapse3" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        {% for key, value in ds18b20_vars['sensors'].iteritems() %}
                                            <li class="list-group-item"><span class="badge" style="background-color: green">{{ value }} °C</span>{{ key }}
                                            <input type="text" placeholder="use defined senor name" class="form-control input-sm" style="margin-top: 5px"></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- DHT11 sensors -->
                        <div class="panel-group" style="display: {{ dht11_vars['list'] }}">
                            <div class="panel panel-default">
                                <!-- header -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse4">DHT11</a>
                                    </h4>
                                </div>
                                <!-- body -->
                                <div id="collapse4" class="panel-collapse collapse">
                                    <ul class="list-group">
                                        {% for key, value in dht11_vars['sensors'].iteritems() %}
                                            <li class="list-group-item"><span class="badge" style="background-color: green">{{ value }} °C</span>{{ key }}
                                            <input type="text" placeholder="use defined senor name" name="{{ key }}" class="form-control input-sm" style="margin-top: 5px"></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Timing -->
                        <div class="row" style="margin-top: 10px">
                            <!-- Duration -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="duration">Duration (s):</label>
                                    <input type="number" name="duration" min="10" placeholder="duration in seconds" class="form-control" id="duration">
                                </div>
                            </div>
                            <!-- Interval -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="interval">Interval (s):</label>
                                    <input type="number" name="interval" min="2" placeholder="interval in seconds" class="form-control" id="interval">
                                </div>
                            </div>
                        </div>

                        <!-- button -->
                        <button type="submit" name="software" style="float:right; width: 100px" class="btn btn-info">Start</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function set_btn(btn, cb) {
        var status = btn.className;
        if (status === "btn btn-default") {
            btn.className = "btn btn-primary";
            cb.checked = true;
        } else {
            btn.className = "btn btn-default";
            cb.checked = false;
        }
    }

    function validateForm(form) {
        var x = form["duration"].value;
        var y = form["interval"].value;
        if (x == null || x == "") {
            sweetAlert({
                title: "Oops!",
                text: "Duration must be set.",
                type: "error"
            });
            return false;
        } if (y == null || y == "") {
            sweetAlert({
                title: "Oops!",
                text: "Interval must be set.",
                type: "error"
            });
            return false;
        } if (parseInt(y) > parseInt(x)) {
                sweetAlert({
                title: "Oops!",
                text: "Duration must be greater interval.",
                type: "error"
            });
            return false;
        }
    }
</script>
