<div class="form-group">
    <form role="form" method="post" style="border-bottom: solid 1px; margin-bottom: 20px" onsubmit="return config_start(this)">

        <div class="form-group">
            <label for="datetime24">{{ content.CONFIG_ENDTIME }}:</label><br>
            <input class="form-control" id="datetime24" data-format="DD-MM-YYYY HH:mm" data-template="DD / MM / YYYY     HH : mm" name="datetime" value="{{ timedate }}" type="text">
        </div>

        <div class="form-group" style="margin-bottom: 20px">
            <label for="interval">{{ content.CONFIG_INTERVAL }}:</label>
            <input type="text" class="form-control" value="{{ interval }}" name="interval" id="interval" placeholder="{{ content.CONFIG_INTERVAL_PLACEHOLDER }}">
        </div>

        {% if flag == 0 %}
            <button type="submit" name="config-start" style="width: 100px; margin-bottom: 20px" class="btn  btn-success">Start</button>
        {% endif %}
    </form>

    <button style="width: 100px" class="btn btn-warning" onclick="rename()">Update</button>

    <form role="form" name="sensors">
        <div class="form-group">
            {% for s in sensors_supported %}
                <h4 style="margin-top: 20px">{{ s.name.upper() }}</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{ content.CONFIG_TH_1 }}</th> <!-- Sensor-ID -->
                                <th>{{ content.CONFIG_TH_2 }}</th> <!-- Name -->
                                <th style="text-align: right">{{ content.CONFIG_TH_3 }} ({{ s.unit }})</th> <!-- Value -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in sensors_used %}
                                {% if i.sensor_id == s.id and i.session_id == global_data.SESSION_ID|int %}
                                    <tr>
                                        <td style="vertical-align: middle">{{ i.code }}</td>
                                        <td><input class="form-control" value="{{ i.name }}" type="text" name="inp_{{ i.code }}" placeholder="{{ content.CONFIG_TB_PLACEHOLDER }}"></td>
                                        <td style="text-align: right; vertical-align: middle">{{ i.value }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </form>
</div>

<script>
    var year = parseInt("{{ timedate[6:10] }}");
    $(function(){
        $('#datetime24').combodate({
            minYear: year,
            maxYear: year + 5,
            smartDays: true
        });
    });


    function rename() {
        var my_data = {};
        {% for s in sensors_supported %}
            {% for i in sensors_used %}
                {% if i.sensor_id == s.id and i.session_id == global_data.SESSION_ID|int %}
                    my_data['{{ i.code }}'] =  document.forms['sensors']['inp_{{ i.code }}'].value;
                {% endif %}
            {% endfor %}
        {% endfor %}
        $.ajax({
            url: '/update/',
            method: 'GET',
            data: my_data
        });
    }

    function config_start(form) {
        var now = moment().unix();
        var datetime = moment(form['datetime'].value, 'DD-MM-YYYY HH:mm').unix();
        var interval = form["interval"].value;
        if ( now >= datetime) {
            sweetAlert({
                title: "{{ content.CONFIG_JS_ENDTIME_TITLE }}",
                text: "{{ content.CONFIG_JS_ENDTIME_TEXT }}",
                type: "error"
            });
            return false;
        } else if (interval == null || interval == "" || parseInt(interval) < 2) {
            sweetAlert({
                title: "{{ content.CONFIG_JS_INTERVAL_TITLE }}",
                text: "{{ content.CONFIG_JS_INTERVAL_TEXT }}",
                type: "error"
            });
            return false;
        } else {
            return true;
        }
    }
</script>


