<h1 class="text-center">Welcome to EEMS</h1>
<h4 class="text-center">Easy Energy Monitoring System</h4>
<div class="row" style="padding-top: 50px">
    <div class="col-sm-3"></div>
    <!-- New -->
    <div class="col-sm-3" style="padding-bottom: 5px">

        <button class="delete-account">Delete my account</button>

        <a class="btn btn-block btn-lg btn-social btn-soundcloud" href="{{ url_for('index') }}">
            <span class="fa fa-play-circle"></span> <p class="text-center" style="margin: 0">New</p>
        </a>
    </div>

    <!-- Load -->
    <div class="col-sm-3">
        <a class="btn btn-block btn-lg btn-social btn-twitter" href="{{ url_for('index') }}">
            <span class="fa fa-folder-open"></span> <p class="text-center" style="margin: 0">Load</p>
        </a>
    </div>
</div>
<script>
    $('button.delete-account').click(function(e) {
        swal({
          title: "Are you sure you want to delete your account?",
          text: "If you are sure, type in your password:",
          type: "input",
          inputType: "password",
          showCancelButton: true,
          closeOnConfirm: false
        }, function(typedPassword) {
          console.log(typedPassword);
        });
      });
</script>

<!--<script>
    $('button.new-project').click(function(e) {
        swal({
            title: "Ready for a new project?",
            text: "Please enter a project name.",
            type: "input",
            inputType: "password",
            showCancelButton: true,
            closeOnConfirm: false
        }, function(typedPassword) {
            console.log(typedPassword);
        });
    });
</script>-->
