<h1 class="text-center">Welcome to EEMS</h1>
<h4 class="text-center">Easy Energy Monitoring System</h4>
<div class="row" style="padding-top: 50px">
    <div class="col-sm-3"></div>
    <!-- New -->
    <div class="col-sm-3" style="padding-bottom: 5px">



        <a onclick="newProject()" class="btn btn-block btn-lg btn-social btn-soundcloud">
            <span class="fa fa-play-circle"></span> <p class="text-center" style="margin: 0">New</p>
        </a>
    </div>

    <!-- Load -->
    <div class="col-sm-3">
        <a class="btn btn-block btn-lg btn-social btn-twitter">
            <span class="fa fa-folder-open"></span> <p class="text-center" style="margin: 0">Load</p>
        </a>
    </div>
</div>
<script>
    function newProject() {
        swal({
            title: "Ready for a new project?",
            text: "Please enter a project name.",
            type: "input",
            inputType: "text",
            showCancelButton: true,
        }, function(typedText) {
            $.ajax({
                url: "{{ url_for('index') }}",
                data: { name: typedText },
                type: "POST"
            });
        });
    }
</script>


<!---->