<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <form role="form" method="post" action="{{ url_for('monitor') }}" onsubmit="">
                <!-- checkboxes for available sensors -->
                {% for key, value in ds18b20_user_names.iteritems() %}
                    <div class="checkbox">
                        <label><input type="checkbox" value="{{ key }}">{{ value }}</label>
                    </div>
                {% endfor %}

                <!-- navigation -->
                <ul class="pager">
                    <li><button type="button" onclick="" name="chart-show-js" style="width: 100px" class="btn btn-success">JS</button></li>
                    <li><button type="submit" name="chart-show-post" style="width: 100px" class="btn btn-success">POST</button></li>
                </ul>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <canvas id="myChart_01" height="250"></canvas>
        </div>
        <div class="col-sm-6">
            <canvas id="myChart_02" height="250"></canvas>
        </div>
    </div>
</div>



<script>
    var ctx_01 = document.getElementById("myChart_01");
    var myLineChart = new Chart(ctx_01, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label:                          "Sensor 1",
                backgroundColor:                "rgba(255,99,132,0.2)",
                borderColor:                    "rgba(255,99,132,1)",
                borderWidth:                    1,
                hoverBackgroundColor:           "rgba(255,99,132,0.4)",
                hoverBorderColor:               "rgba(255,99,132,1)",
                data:                           [65, 59, 80, 81, 56, 55, 0, 90]
            }, {
                data:                           []
            }]
        },
        options: {
            stacked:         true
        }
    });

    var ctx_02 = document.getElementById("myChart_02");
    var myLineChart_02 = new Chart(ctx_02, {
        type: 'line',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label:                          "Min",
                fill:                           true,
                lineTension:                    0,
                backgroundColor:                "white",
                borderColor:                    "rgba(75,192,192,1)",
                borderCapStyle:                 'butt',
                borderDash:                     [],
                borderDashOffset:               0.0,
                borderJoinStyle:                'miter',
                pointBorderColor:               "rgba(75,192,192,1)",
                pointBackgroundColor:           "#fff",
                pointBorderWidth:               1,
                pointHoverRadius:               5,
                pointHoverBackgroundColor:      "rgba(75,192,192,1)",
                pointHoverBorderColor:          "rgba(220,220,220,1)",
                pointHoverBorderWidth:          2,
                pointRadius:                    1,
                pointHitRadius:                 10,
                data:                           [55, 49, 70, 71, 46, 45]
            },{
                label:                          "Value",
                fill:                           false,
                lineTension:                    0,
                backgroundColor:                "rgba(75,192,192,0.4)",
                borderColor:                    "rgba(75,192,192,1)",
                borderCapStyle:                 'butt',
                borderDash:                     [],
                borderDashOffset:               0.0,
                borderJoinStyle:                'miter',
                pointBorderColor:               "rgba(75,192,192,1)",
                pointBackgroundColor:           "#fff",
                pointBorderWidth:               1,
                pointHoverRadius:               5,
                pointHoverBackgroundColor:      "rgba(75,192,192,1)",
                pointHoverBorderColor:          "rgba(220,220,220,1)",
                pointHoverBorderWidth:          2,
                pointRadius:                    1,
                pointHitRadius:                 10,
                data:                           [65, 59, 80, 81, 56, 55]
            },{
                label:                          "Max",
                fill:                           true,
                lineTension:                    0,
                backgroundColor:                "rgba(75,192,192,0.4)",
                borderColor:                    "rgba(75,192,192,1)",
                borderCapStyle:                 'butt',
                borderDash:                     [],
                borderDashOffset:               0.0,
                borderJoinStyle:                'miter',
                pointBorderColor:               "rgba(75,192,192,1)",
                pointBackgroundColor:           "#fff",
                pointBorderWidth:               1,
                pointHoverRadius:               5,
                pointHoverBackgroundColor:      "rgba(75,192,192,1)",
                pointHoverBorderColor:          "rgba(220,220,220,1)",
                pointHoverBorderWidth:          2,
                pointRadius:                    1,
                pointHitRadius:                 10,
                data:                           [75, 69, 90, 91, 66, 65]
            }]
        },
        options: {
            showLines:          true,
            stacked:            true
        }
    });
</script>
